extends layout

block content
  h1= title
  - var result = results 
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) Name: #{item["authorName"]}  <br>  Novel Type: #{item["novelType"]} <br> pages: #{item["pages"]} 
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }