extends layout

block content
  div(class='container')
        h1(style="text-align: center; color: #863A6F")= title
        - var results = results
        div(class='container' style="text-align: center;")  
            div.row 
                each item, index in results
                    div(class='col-md')
                        div(class='card', style='width: 17rem;')
                            div(class='card-body')
                                - let destination = `dispatch(\"/Novel/update?id=${item._id}\")`
                                - let Novel_detail = `dispatch(\"/Novel/detail?id=${item._id}\")`
                                - let Novel_delete = `dispatch(\"/Novel/delete?id=${item._id}\")`
                                div(class='card-text', onclick=`buy(${index})`) Name: #{item["authorName"]}  <br>  Novel Type: #{item["novelType"]} <br> pages: #{item["pages"]}
                                button.btn(class="btn-success btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= destination) Update 
                                button.btn(class="btn-primary btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= Novel_detail) Details
                                button.btn(class="btn-info btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= Novel_delete) Delete
        - let Novel_create = `dispatch(\"/Novel/create")`
        div(class='col-md', style="text-align: center;")
            button.btn(class="btn-warning btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= Novel_create) Create
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }
      function dispatch(path) {
            window.location.href = path;
      }  
      
  
